html,
body {
  margin: 0;
}

h1 {
  text-align: center;
}

.parent {
  height: auto;
  display: flex;
  padding: 15px;
}

.left, .right {
  flex: 1;
  align-self: center;
  text-align: center;
}

.equation {
  width: max-content;
  margin: auto;
}

.center {
  width: 800px;
  height: 800px;
  margin: auto;
  align-self: center;
}

dl {
  text-align: left;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}