html,
body {
  margin: 0;
}

h1 {
  text-align: center;
}

.parent {
  height: auto;
  display: flex;
  padding: 15px;
}

.left, .right {
  flex: 1;
  align-self: center;
  text-align: center;
}

.center {
  width: 800px;
  height: 800px;
  margin: auto;
  align-self: center;
}